In [28]:
import numpy as np
import pandas as pd

In [29]:
tag_df = pd.read_parquet('tag_list.parquet')

In [30]:
tag_df

         game_id  genre_id          genre_name
0           3498        31        singleplayer
1           4200        31        singleplayer
2           4200     40847  steam-achievements
3           3328        31        singleplayer
4           3328        13         atmospheric
...          ...       ...                 ...
2034996   396016       836               drone
2034997   396015       114             physics
2034998   396015      1407                race
2034999   396015      2590                 fun
2035000   396015      3758               speed

[2035001 rows x 3 columns]

In [31]:
tag_counts = tag_df.groupby('genre_name')['genre_name'].count().sort_values()

In [32]:
tag_counts.to_csv('tag_counts.csv')

In [33]:
tag_counts.head()

genre_name
lecrerc             1
nkvd                1
nls9                1
nm-game-jam-2018    1
nm-gamejam          1
Name: genre_name, dtype: int64

In [34]:
common_tags = tag_counts[tag_counts >= 25]

In [35]:
common_tag_list = list(common_tags.index)

In [37]:
len(common_tag_list)

2190

In [38]:
tag_df_trim = tag_df[tag_df['genre_name'].isin(common_tag_list)]

In [39]:
tag_df_trim

         game_id  genre_id          genre_name
0           3498        31        singleplayer
1           4200        31        singleplayer
2           4200     40847  steam-achievements
3           3328        31        singleplayer
4           3328        13         atmospheric
...          ...       ...                 ...
2034996   396016       836               drone
2034997   396015       114             physics
2034998   396015      1407                race
2034999   396015      2590                 fun
2035000   396015      3758               speed

[1914584 rows x 3 columns]

In [40]:
tag_df_trim.to_parquet('tag_list_trim.parquet')